img {
  margin: 5px;
  width: 500px;
  height: 30%;
  z-index: 0;
  border-radius: 40px;


}
h1, h2 {
  text-align: center;
  color: navy;
}

img:hover {
  opacity: .2;
  /*z-index: -2;*/
  display: inline-block;
  position: relative;
}

h6:hover {
  z-index: 1;
}

h6 {
  position: absolute;
  width: 500px;
  /*height: 30%;*/
  z-index: -1;
  clear: both;
  display: table;
  font-size: 40px;
  font-weight: bold;
  color: black;

}
h6 > span {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}
.italian, .chinese, .mexican {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  /*border: solid black 2px;*/
}

@media all and (min-width: 1000px) {
  .italian, .chinese, .mexican { flex: 1 100%; }
  h6 { flex: 1 100%}
}

@media all and (max-width: 550px) {
  img {
    width: 90%;
    height: auto;
    display: block;
    margin: 10px auto;
  }
}

body {
  background: rgba(200, 200, 200, .4);
}
.italian {
  background: rgba(0,0,200,.4);
  border: 5px solid transparent;
  border-radius: 10px;
}

.chinese {
  background: rgba(250,80,0,.7);
  border: 5px solid transparent;
  border-radius: 10px;
}
#chinese_head {
}

.float_left {
  float: left;
  height: 100%;
}
